body {
    background-color: slategray;
}

a {
    color: rgb(11, 214, 11);
}

.header {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    top: 15px;
}

.footer {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    bottom: 15px;
}

#top_three{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    color: gold;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

#how_to_taste_a_soda{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

#general_reviews {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.common {
    font-weight: bold;
}

.block {
    margin-top: 100px;
    text-align: center;
}

.grid_container { 
    display: grid;
    grid-template-columns: 15% 15% 15%;
    justify-content: space-evenly;
    align-content: center;
    row-gap: 5%;
    text-align: left;
}

.grid_item {
    display:inline;
    border: 2px solid black;
    border-radius: 5px;
    align-self: center;
    color: rgb(11, 214, 11);
    background: black;
}